@font-face {
    font-family: 'Anonymous Pro';
    src: url('AnonymousPro-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('AnonymousPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('AnonymousPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('AnonymousPro-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}

